
TOKEN_FACTORY_API_KEY=v1.CmQKHHN0YXRpY2tleS1lMDBjemI5eGh0ZHYzMXRyY3ESIXNlcnZpY2VhY2NvdW50LWUwMHJubmFja2d5bXE0bWZxNTIMCPGF49QGENmX09EDOgwI8Ij7nwcQgIOclwNAAloDZTAw.AAAAAAAAAAFAQkZKXm2tnoTGmWrj0t8X4evDHKF4NckJUiXAZLUE-xn7iEE-LIVwDaV6wxHKUXWjU_cgAQtqgKK2kHSVLZUB
TOKEN_FACTORY_BASE_URL=https://api.tokenfactory.nebius.com/v1
